cffi==1.14.0
cryptography==2.9.2
Django==1.11.29
django-bootstrap-datepicker-plus==3.0.5
html5lib==1.0b10
numpy==1.18.3
olefile==0.46
Pillow==4.1.0
pisa==3.0.33
pycparser==2.20
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2017.2
six==1.10.0
sqlparse==0.3.1
webencodings==0.5.1
