<title>Plan de clase</title>
{% extends 'back-end/base.html' %}
{% load static from staticfiles %}
{% block head %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>
{% endblock %}

{% block content %}
    <style>
        table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
            color: black;
        }

        .table tbody tr td {
            font-size: 12px;
        }

        .form-inline .form-control {
            width: 100%;
        }

    </style>
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Panel</a></li>
            <li><a href="{{ ruta }}"><i class="{{ icono }}"></i> {{ entidad }}</a></li>
        </ol>
    </section>
    <section class="content" style="margin-top: 20px;">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h5><i class="{{ icono }}"></i> <strong>{{ entidad }}</strong></h5>
            </div>
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <label for="id_materia"> {{ form.materia.label_tag }}</label>
                            {{ form.materia }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body" style="display: none;" id="tabla2">
                <div class="pull-left">
                    <div class="panel-heading" id="pnl_titulo"></div>
                </div>
                <div class="container-fluid">
                    <table style="width:100%" class="table table-striped table-bordered table-hover display"
                           id="planes2">
                        <thead>
                        <tr>
                            <th>Semana</th>
                            <th>Unidad</th>
                            <th>Clase</th>
                            <th>Tema</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="box-body" style="display: none;" id="tabla">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" name="btnAgregar" id="btnAgregar"
                        data-toggle="tooltip" title="Agregar Fila">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Agregar fila
                </button>
            </div>
            <br>
            <div class="container-fluid">
                <br>
                <table style="width:100%" class="table table-striped table-bordered table-hover display" id="planes">
                    <thead>
                    <tr>
                        <th>Semana</th>
                        <th>Unidad</th>
                        <th>Clase</th>
                        <th>Tema</th>
                        <th class="text-center"><em class="fa fa-trash"></em></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="selected">
                        <td><input title="Semana" type="number" size="3" max="25" min="1" step="1"
                                   class="form-control semana"></td>
                        <td><input title="Unidad" type="number" size="3" max="10" min="1" step="1"
                                   class="form-control unidad"></td>
                        <td><input title="Clase" type="number" size="2" max="100" min="1" step="1"
                                   class="form-control clase"></td>
                        <td style="width:50px"><textarea title="tema" rows="2" cols="50px"
                                                         class="form-control tema"></textarea></td>
                        <td style="width: 15px">
                            <button disabled class="btn btn-danger btn-sm remove" name="btnQuitar"
                                    data-toggle="tooltip" title="Quitar fila"><i class="fa fa-trash" aria-hidden=
                                    "true"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="box-footer">
            <button type="button" class="btn btn-success btn btn-primary btn-sm" data-title="Selecionar"
                    data-toggle="modal" data-target="#edit" name="ok" id="guardarSilabo"><i class="fa fa-save">
            </i> {{ boton }}
            </button>
            <a type="button" class="btn btn-default btn-sm" href="{{ ruta }}">
                <i class="fa fa-refresh" aria-hidden="true"></i> Actualizar
            </a>
        </div>
    </section>
    <script type="text/javascript">
        var table;
        var cont = 1;
        var id_fila_selected;

        $(document).ready(function () {
            $("#id_materia").on("change", mostrarTabla);
            $("#btnAgregar").click("click", agregar);
            $(document).on('click', '.remove', removeElemento);
            $("#guardarSilabo").on("click", enviarSilabo);

        });

        function removeElemento() {
            $('.tooltip').remove();
            $(this).parent().parent().remove();
        }

        function mostrarTabla() {
            var materiaId = $("#id_materia").val();

            if (materiaId) {
                $("#tabla").show();
                $('#planes').DataTable({
                    destroy: true,
                    responsive: true,
                    bSortable: false,
                    dom: 't',
                    columnDefs: [
                        {bSortable: false, "targets": '_all'},
                        {"width": "10%", "targets": [0, 1, 2]},
                        {"width": "5%", "targets": [4]}
                    ]
                });
            }
            silabo_ultimo();
        }

        function silabo_ultimo() {
            var materiaId = $("#id_materia").val();
            var text = $('#id_materia option:selected').html();
            if (materiaId) {
                $("#tabla2").show();
                $('#pnl_titulo').html('<h4><i class="fa fa-hand-o-right" aria-hidden="true"></i> Ultimo Registro de' + ' ' + '<span class="label label-danger">' + text + '</span></h4>');
                $('#planes2').DataTable({
                    destroy: true,
                    responsive: true,
                    bSortable: false,
                    dom: 't',
                    ajax: {
                        url: "{% url 'silabos:get_last_silabo' %}",
                        type: 'GET',
                        data: {
                            "materia_id": materiaId,
                        },
                        dataSrc: ""
                    },
                    columnDefs: [
                        {
                            "targets": '_all',
                            "className": 'dt-center',
                            "bSortable": false,
                            "searchable": false,
                        },
                    ],
                });
            }
        }

        function agregar() {
            $('.tooltip').remove();
            cont++;
            var fila = '<tr class="selected" id="fila' + cont + '"><td>' +
                '<input title="Semana" type="number" size="3" max="25" min="1" step="1" class="form-control semana"></td>\n' +
                '<td><input title="Unidad" type="number" size="3" max="10" min="1" step="1" class="form-control unidad"></td>\n' +
                '<td><input title="Clase" type="number" size="2" max="100" min="1" step="1" class="form-control clase"></td>\n' +
                '<td style="width:50px"><textarea rows="2" cols="50px"class="form-control tema"></textarea></td>\n' +
                '<td style="width: 15px"><button class="btn btn-danger btn-sm remove" name="btnQuitar"\n' +
                'data-toggle="tooltip" title="Quitar fila"><i class="fa fa-trash" aria-hidden="true"></i></button> </td></tr>';
            $('#planes').append(fila);

        }

        function enviarSilabo() {
            var tabla = [];
            var trs = $("#planes tr").length;
            $("#planes tbody tr").each(function (index) {
                var a, b, c, d, e, p;
                var filas = $(this).children("td").each(function (index2) {

                    switch (index2) {
                        case 0:
                            a = $(".semana", this).val();
                            break;
                        case 1:
                            b = $(".unidad", this).val();
                            break;
                        case 2:
                            c = $(".clase", this).val();
                            break;
                        case 3:
                            d = $(".tema", this).val();
                            break;
                        case 4:
                            e = $(this).text();
                            p = $("#id_materia").val();
                            break;
                    }
                });
                var items = {
                    "semana": a,
                    "unidad": b,
                    "clase": c,
                    "tema": d,
                    "materia": p
                };
                tabla.push(items);
            });
            alert(JSON.stringify(tabla));
            var datos = {'datos': JSON.stringify(tabla)};
            console.log(datos);

            bootbox.dialog({
                title: "<i class='fa fa-info' aria-hidden='true'></i> Confirmaci\u00f3n",
                message: 'Recuerde haber rellenado todos los campos de la tabla <br> ¿Desea continuar?',

                buttons: {
                    default: {
                        label: "<i class='fa fa-times'></i>",
                        className: "btn-danger btn-sm btn-flat",
                        callback: function () {
                        }
                    },
                    success: {
                        label: "<i class='fa fa-check'></i>",
                        className: "btn btn-info btn-sm btn-flat",
                        callback: function () {
                            $.ajax({
                                dataType: 'JSON',
                                type: 'POST',
                                url: "{% url 'silabos:guardar' %}",
                                data: datos,
                                success: function (data) {
                                    if (data.resp) {
                                        $.isLoading({
                                            text: "<strong>" + 'Registrando..' + "</strong>",
                                            tpl: '<span class="isloading-wrapper %wrapper%"><i class="fa fa-spin fa-spinner fa-2x fa-spin"></i><br>%text%</span>',
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 1000);
                                        return false;
                                    }
                                    bootbox.alert({
                                        message: data.error,
                                        className: 'rubberBand animated'
                                    });
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown + ' ' + textStatus);
                                }
                            });
                        }
                    }
                }
            });
        }


    </script>
{% endblock %}