{% extends "back-end/registration/base.html" %}
{% load static from staticfiles %}
{% block head %}
    <script src="{% static "js/login.js" %}"></script>

{% endblock %}
{% load static from staticfiles %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% block content %}
 <!--Brand and toggle get grouped for better mobile display -->
  <div class="container-fluid">

      <a class="navbar-brand" href="#">Sga</a>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.uagraria.edu.ec/">Universidad Agraria del Ecuador</a>
    </div>
<ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Bienvenido</p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								Login via
								<div class="social-buttons">
									<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
									<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
								</div>
                                or

      <form class="form" id="frm-login">
      <div class="form-group has-feedback">
        <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" autofocus autocomplete="off">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" autocomplete="off">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12 text-right">
            <button id="btnLogin" class="btn btn-success btn-sm btn-flat" type="submit">
                  <i class="fa fa-user-secret" aria-hidden="true"></i> Iniciar sesión
            </button>
            <button type="reset" class="btn btn-primary btn-sm btn-flat" id="limpiar" onclick="$('#frm-login').formValidation('resetForm', true); $('form:not(.filter) :input:visible:enabled:first').focus();">
                  <i class="fa fa-refresh" aria-hidden="true"></i> Limpiar
            </button>
        </div>
      </div>
    </form>
      <div class="social-auth-links text-center well well-sm">
      <a href="{% url 'password_reset' %}">Puedes reestablecer tu password dando click aqui</a>
    </div>
  </div>
</div>
<script>
  $(function () {

  });
</script>
    </nav>





<!-- <div class="hold-transition login-page">
 <div class="login-box">
  <div class="login-logo">
    <span class="logo-lg"><b>Login</b> <i class="fa fa-key" aria-hidden="true"></i></span>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg" style="font-size: 13px;">
      Inicie sesión para ingresar al sistema
    </p>

      <form class="form" id="frm-login">
      <div class="form-group has-feedback">
        <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" autofocus autocomplete="off">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" autocomplete="off">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12 text-right">
            <button id="btnLogin" class="btn btn-success btn-sm btn-flat" type="submit">
                  <i class="fa fa-user-secret" aria-hidden="true"></i> Iniciar sesión
            </button>
            <button type="reset" class="btn btn-primary btn-sm btn-flat" id="limpiar" onclick="$('#frm-login').formValidation('resetForm', true); $('form:not(.filter) :input:visible:enabled:first').focus();">
                  <i class="fa fa-refresh" aria-hidden="true"></i> Limpiar
            </button>
        </div>
      </div>
    </form>
    <hr>
    <div class="social-auth-links text-center well well-sm">
      <a href="{% url 'password_reset' %}">Puedes reestablecer tu password dando click aqui</a>
    </div>
  </div>
</div>
<script>
  $(function () {

  });
</script>

{% endblock %}