{% extends "back-end/registration/base2.html" %}
{% load static from staticfiles %}
{% block content %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <span class="logo-lg"><b>Unidad Educativa</b> <i class="fa fa-graduation-cap" aria-hidden="true"></i> Mis primeros Pasos</span>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg" style="font-size: 15px;">
       <span class="label label-primary">Cambio de Contraseña</span>
    </p>
    <div class="alert alert-success alert-dismissable" style="font-size: 13px;">
       <strong>Importante !</strong> Para restablecer su contraseña debe ingresar el correo con el cual esta registrado.
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <input id="id_email" maxlength="254" name="email" type="email" class="form-control" placeholder="Ingrese su correo electrónico" required autocomplete="off" autofocus>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12 text-right">
            <button id="btnLogin" class="btn btn-success btn-sm btn-flat" type="submit">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar
            </button>
            <a class="btn btn-primary btn-sm btn-flat" href="{% url 'login' %}">
                   <i class="fa fa-refresh" aria-hidden="true"></i> Retornar
            </a>
        </div>
      </div>
    </form>
    <hr>
    <p class="text-center"> Ingrese correctamente su <strong>correo electronico</strong> y presione enviar.</p>
  </div>
</div>
<script>
  $(function () {

  });
</script>
{% endblock %}