{% extends "back-end/registration/base.html" %}
{% load static from staticfiles %}
{% block content %}
<body class="hold-transition login-page">
{% if validlink %}
<div class="login-box">
  <div class="login-logo">
    <span class="logo-lg"><b>Servi</b> <i class="fa fa-shopping-cart" aria-hidden="true"></i> Express</span>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">{{ localhost }} | {{ hostname }}</p>
    <form class="form" method="post">
    {% csrf_token %}
      {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
              <ul class="errorlist alert alert-danger" style="margin-bottom: 10px; font-size: 13px;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {% for error in field.errors %}
                    <li style="list-style: none;">{{ error }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
       {% endfor %}
      {% endif %}
      <div class="form-group has-feedback">
         <input id="id_new_password1" maxlength="254" name="new_password1" type="password" class="form-control" placeholder="Ingrese un password" required autocomplete="off" autofocus>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input id="id_new_password2" maxlength="254" name="new_password2" type="password" class="form-control" placeholder="Repita el password" required autocomplete="off">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12 text-right">
            <button class="btn btn-success btn-sm btn-flat" type="submit">
                  <i class="fa fa-child" aria-hidden="true"></i>  Cambiar
            </button>
            <a class="btn btn-primary btn-sm btn-flat" href="{% url 'login' %}">
                   <i class="fa fa-refresh" aria-hidden="true"></i> Retornar
            </a>
        </div>
      </div>
    </form>
    <hr>
    <p class="text-center"> Una vez ingresado <strong>reseteado</strong> la nueva contraseña podra ingresar al sistema.</p>
  </div>
</div>
{% else %}
<script>
      $(document).ready(function() {
          bootbox.dialog({
              message: '<p><i class="fa fa-spin fa-spinner"></i> El enlace solicitado ha expirado, realice de nuevo los pasos de reestablecimiento</p>',
              title: "<i class='fa fa-exclamation-triangle' aria-hidden='true'></i> <strong>Ha ocurrido un error</strong>",
              buttons: {
                default: {
					  label: "<i class='fa fa-times'></i>",
					  className: "btn btn-default btn-flat",
                      callback: function () {
                           window.location = '{% url 'login' %}';
                      }
                },
              },
              onEscape: function () {
                  window.location = '{% url 'login' %}';
              }
          });
          setTimeout(function(){
              window.location = '{% url 'login' %}';
          }, 2000);
   });
   </script>
{% endif %}
{% endblock %}