{% extends "back-end/registration/base.html" %}
{% load static from staticfiles %}
{% block content %}
<script>
     $(document).ready(function() {
          bootbox.dialog({
              message: 'Te hemos enviado un correo con los pasos que debes seguir para cambiar tu contraseña',
              title: "<i class='fa fa-exclamation-triangle' aria-hidden='true'></i> <strong>Reestablecimiento de contraseña</strong>",
              buttons: {
                default: {
					  label: "<i class='fa fa-times'></i>",
					  className: "btn btn-default btn-flat",
                      callback: function () {
                           window.location = '{% url 'login' %}';
                      }
                },
              },
              onEscape: function () {
                  window.location = '{% url 'login' %}';
              }
          });
          setTimeout(function(){
              window.location = '{% url 'login' %}';
          }, 2000);
      });
  </script>
{% endblock %}