<title>Menu Principal</title>
{% extends 'back-end/base.html' %}
{% load static from staticfiles %}
{% block head %}


{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Menu Pricipal <small>Perifl de Usuario</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-home fa-2x"></i> Menu Pricipal
                </li>
            </ol>
        </div>
    </div>
    <!-- /.image -->

    <table style="border:hidden">
        <tr style="border: hidden">
            <td style="border: hidden">
                <div class="basic-panel">
                    <img src="{{ user.docente.avatar.url }}" class="img-circle img-lg" alt="User Image">
                </div>
            </td>
            <td><a href="#"><h1>&nbsp;{{ user.get_full_name }}</h1></a>
            </td>
        </tr>
    </table>
    <!-- /.row -->
    <br>
    <div class="row">
     {% if user.docente.rol == 1 %}
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar-plus-o fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Horario</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'horario:ver' %}">
                    <div class="panel-footer">
                        <span class="pull-left" style="color: #f0ad4e">Mostrar...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list-alt fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Asistencias</div>

                        </div>
                    </div>
                </div>
                <a href="{% url 'asistencia_list:asistencia' %}">
                    <div class="panel-footer">
                        <span class="pull-left" style="color:#b8101a ">Mostrar...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-blue2">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-sort-numeric-asc fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Notas</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'notas:notas' %}">
                    <div class="panel-footer">
                        <span class="pull-left" style="color: #07f0dd">Mostrar...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}
    </div>
    <div class="row">
        {% if user.docente.rol == 0 %}
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-odnoklassniki fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Alumnos</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'alumnos:lista' %}">
                        <div class="panel-footer">
                            <span class="pull-left" style="color:#5cb85c ">Mostrar...</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user-circle-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Docentes</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'docente:Docente_list' %}">
                        <div class="panel-footer">
                            <span class="pull-left" style="color: #6c04f0">Mostrar...</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-book fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Materias</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'materias:lista' %}">
                        <div class="panel-footer">
                            <span class="pull-left" style="color: #337ab7;">Mostrar...</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    {% if user.docente.rol == 0 %}
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-orange">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-address-card-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Matriculas</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'matriculas:lista' %}">
                        <div class="panel-footer">
                            <span class="pull-left" style="color: #f06415">Mostrar...</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-amarillo">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-clock-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Periodos</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'periodo:listado' %}">
                        <div class="panel-footer">
                            <span class="pull-left" style="color: #D4EF50">Mostrar...</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-morado">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-indent fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Cursos</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'curso:lista' %}">
                        <div class="panel-footer">
                            <span class="pull-left" style="color: #F633FF">Mostrar...</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% if user.docente.rol == 0 %}
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-blue2">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-group fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Padres</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'representante:lista' %}">
                        <div class="panel-footer">
                            <span class="pull-left" style="color: #07f0dd">Mostrar...</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-sort-alpha-desc fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Aulas</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'Aulas:lista' %}">
                        <div class="panel-footer">
                            <span class="pull-left" style="color: #5cb85c">Mostrar...</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar-plus-o fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Horario</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'horario:nuevo_admin' %}">
                    <div class="panel-footer">
                        <span class="pull-left" style="color: #f0ad4e">Mostrar...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% if user.docente.rol == 1 %}
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-line-chart fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Asignadas</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'asignar:lista_asignadas' %}">
                        <div class="panel-footer">
                            <span class="pull-left" style="color: #337ab7">Mostrar...</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
