<title>Listado de Alumno</title>
{% extends 'back-end/base.html' %}

{% load static from staticfiles %}
{% block head %}


{% endblock %}

{% block content %}


    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Panel</a></li>
            <li><a href="{{ ruta }}"><i class="fa fa-user-circle-o"></i> Alumnos</a></li>
        </ol>
    </section>
    <section class="content" style="margin-top: 20px;">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h5><i class="fa fa-user-circle-o fa-lg"></i> <strong>Alumnos</strong></h5>
            </div>
            <div class="box-body">
                <div class="container-fluid">
                    <table style="width:100%" class="table table-striped table-bordered table-hover" id="alumnos">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombres</th>
                            <th>Cedula</th>
                            <th>Cumpleaños</th>
                            <th>Correo</th>
                            <th>Genero</th>
                            <th>Representante</th>
                            <th>Estado</th>
                            <th class="text-center"><em class="fa fa-cog"></em></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if object_list %}
                            {% for Alumno in object_list %}
                                <tr>
                                    <td>{{ Alumno.id }}</td>
                                    <td>{{ Alumno }}</td>
                                    <td> {{ Alumno.cedula }}  </td>
                                    <td> {{ Alumno.fecha_nacimiento|date:"d-m-Y" }} </td>
                                    <td> {{ Alumno.correo }} </td>
                                    <td> {{ Alumno.get_sexo_display }} </td>
                                    <td>{{ Alumno.representante }}</td>
                                    <td style="font-weight:bold">{{ Alumno.get_estado_display }}</td>
                                    <td><a type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                           title="Editar Datos"
                                           href="{% url 'alumnos:editar' Alumno.id %}"><span
                                            class="glyphicon glyphicon-pencil"> </span></a>
                                        <button type="button" class="btn btn-default btn-xs estado"
                                                data-toggle="tooltip"
                                                title="Gestionar Estado" name="btnestado"><span
                                                class="glyphicon glyphicon-cog"> </span></button>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <a type="button" class="btn btn-primary btn-sm" href="{% url 'Alumnos:nuevo' %}">
                <i class="fa fa-user-plus" aria-hidden="true"></i> Nuevo Alumno
            </a>
            <a type="button" class="btn btn-default btn-sm" href="{{ ruta }}">
                <i class="fa fa-refresh" aria-hidden="true"></i> Actualizar
            </a>
        </div>
    </section>

    <style>
        table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
            color: black;
        }

        th.dt-center, td.dt-center {
            text-align: center;
        }

        .form-inline .form-control {
            width: 100%;
        }

        td.green {
            color: black;
            text-align: center;
            background-color: darkseagreen;
        }

        td.red {
            color: black;
            text-align: center;
            background-color: #FD1B41;
        }

        td.orange {
            color: black;
            text-align: center;
            background-color: orange;
        }

        td.blue {
            color: black;
            text-align: center;
            background-color: cornflowerblue;
        }

        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: black;
            font-size: 16px;
        }

        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: black;
            font-size: 16px;
        }

        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: black;
            font-size: 16px;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: black;
            font-size: 16px;
        }
    </style>

    <script type="text/javascript">
        var table;
        var dialog;
        $(document).ready(function () {
            tabla();
            $('.estado').on("click", estado);
        });

        function tabla() {
            table = $('#alumnos').DataTable({
                destroy: true,
                responsive: true,
                columnDefs:
                    [{"className": "dt-center", "targets": [0, 2, 3, 4, 5, 6, 7]},
                        {"visible": false, "targets": [0]},
                        {"width": "12%", "targets": [2]},
                        {"width": "15%", "targets": [3]},
                        {"width": "15%", "targets": [5]},
                        {"width": "22%", "targets": [6]},
                        {"width": "12%", "targets": [7]},
                        {"className": "dt-center", "width": "12%", "bSortable": false, "targets": [-1]}],
                "createdRow": function (row, data, dataIndex) {
                    if (data[7] === 'Activo') {
                        $('td', row).eq(6).addClass('green');
                    } else if (data[7] === 'Retirado') {
                        $('td', row).eq(6).addClass('red');
                        $('td', row).eq(7).find("button[name='btnestado']").prop('disabled', true);
                    } else if (data[7] === 'Suspendido') {
                        $('td', row).eq(6).addClass('orange');
                    } else if (data[7] === 'Inactivo') {
                        $('td', row).eq(6).addClass('blue');
                        $('td', row).eq(7).find("button[name='btnestado']").prop('disabled', true);
                    }

                }
            });
            filtros();
        }

        function estado() {
            var data = table.row($(this).parents('tr')).data();

            var r = 1;
            var s = 2;
            dialog = bootbox.dialog({
                title: 'Cambiar estado del Alumno',
                message: 'Seleccione el estado que desea asignar a  ' + data[1],
                size: 'large',
                buttons: {
                    cancel: {
                        label: "Retirado",
                        className: 'btn-danger retirado',
                        callback: function () {
                            $.ajax({
                                dataType: 'JSON',
                                type: 'POST',
                                url: "{% url 'Alumnos:estado' %}",
                                data: {
                                    id: data[0],
                                    estado: r,
                                },
                                success: function (data) {
                                    if (data.resp) {
                                        $.isLoading({
                                            text: "<strong>" + 'Cambiando estado..' + "</strong>",
                                            tpl: '<span class="isloading-wrapper %wrapper%"><i class="fa fa-spin fa-spinner fa-2x fa-spin"></i><br>%text%</span>',
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 1000);
                                        return false;
                                    }
                                    alert(data.error);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown + ' ' + textStatus);
                                }
                            });
                        }
                    },
                    noclose: {
                        label: "Suspendido",
                        className: 'btn-warning suspendido',
                        callback: function () {
                            $.ajax({
                                dataType: 'JSON',
                                type: 'POST',
                                url: "{% url 'Alumnos:estado' %}",
                                data: {
                                    id: data[0],
                                    estado: s,
                                },
                                success: function (data) {
                                    if (data.resp) {
                                        $.isLoading({
                                            text: "<strong>" + 'Cambiando estado...' + "</strong>",
                                            tpl: '<span class="isloading-wrapper %wrapper%"><i class="fa fa-spin fa-spinner fa-2x fa-spin"></i><br>%text%</span>',
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 1000);
                                        return false;
                                    }
                                    alert(data.error);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown + ' ' + textStatus);
                                }
                            });
                        }
                    },
                    ok: {
                        label: "Activo",
                        className: 'btn-success activo',
                        callback: function () {
                            $.ajax({
                                dataType: 'JSON',
                                type: 'POST',
                                url: "{% url 'Alumnos:estado' %}",
                                data: {
                                    id: data[0],
                                    estado: 0,
                                },
                                success: function (data) {
                                    if (data.resp) {
                                        $.isLoading({
                                            text: "<strong>" + 'Cambiando estado...' + "</strong>",
                                            tpl: '<span class="isloading-wrapper %wrapper%"><i class="fa fa-spin fa-spinner fa-2x fa-spin"></i><br>%text%</span>',
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 1000);
                                        return false;
                                    }
                                    alert(data.error);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown + ' ' + textStatus);
                                }
                            });
                        }
                    },
                }
            });
            if (data[7] === 'Activo') {
                dialog.find('.activo').hide();
            }
            if (data[7] === 'Suspendido') {
                dialog.find('.suspendido').hide();
            }

        }

        function filtros() {
            $('#alumnos thead th').each(function () {
                var title = $(this).text();
                if (title === 'Nombres') {
                    $(this).html('<input type="text" style="width : 100%"data-toggle="tooltip" ' +
                        'title="Buscar por ' + title + '" placeholder="' + title + '" />');
                }
                if (title === 'Cedula') {
                    $(this).html('<input type="text" style="width : 100%" data-toggle="tooltip" ' +
                        'title="Buscar por ' + title + '" placeholder="' + title + '" />');
                }
                if (title === 'Cumpleaños') {
                    $(this).html('<input type="text" style="width : 100%" data-toggle="tooltip" ' +
                        'title="Buscar por ' + title + '" placeholder="' + title + '" />');
                }
                if (title === 'Correo') {
                    $(this).html('<input type="text" style="width : 100%" data-toggle="tooltip" ' +
                        'title="Buscar por ' + title + '" placeholder="' + title + '" />');
                }
                if (title === 'Genero') {
                    $(this).html('<input type="text" style="width : 100%" data-toggle="tooltip" ' +
                        'title="Buscar por ' + title + '" placeholder="' + title + '" />');
                }
                if (title === 'Representante') {
                    $(this).html('<input type="text" style="width : 100%" data-toggle="tooltip" ' +
                        'title="Buscar por ' + title + '" placeholder="' + title + '" />');
                }
                if (title === 'Estado') {
                    $(this).html('<input type="text" style="width : 100%" data-toggle="tooltip" ' +
                        'title="Buscar por ' + title + '" placeholder="' + title + '" />');
                }
            });

            table.columns().every(function () {
                var that = this;

                $('input', this.header()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        $('.tooltip').remove();
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        }
    </script>
{% endblock %}
