<title>Listado de Alumnos</title>
{% extends 'back-end/base.html' %}
{% load static from staticfiles %}
{% block head %}


{% endblock %}

{% block content %}
<script>

$(document).ready(function() {
    $('#example').DataTable();
} );


function addZero(i) {
    if (i < 10) {
        i = '0' + i;
    }
    return i;
}
function hoyFecha(){
    var hoy = new Date();
        var dd = hoy.getDate();
        var mm = hoy.getMonth()+1;
        var yyyy = hoy.getFullYear();

        dd = addZero(dd);
        mm = addZero(mm);
          var fecha= dd+'/'+mm+'/'+yyyy;
        document.getElementById('fecha').innerHTML= ' '+fecha ;

        return dd+'/'+mm+'/'+yyyy;

}
</script>
<style>
table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
   color: black;
}
.table tbody tr td{
    font-size:12px;
}
.form-inline .form-control{
    width: 100%;
}



</style>

 <section class="content-header">
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Panel</a></li>
          <li><a href="{{ ruta }}"><i class="fa fa-graduation-cap" id="materia">Asistencias</i> </a></li>
        </ol>
    </section>
    <section class="content" style="margin-top: 20px;">
        <div class="box box-danger">
        <div class="box-header with-border">
          <h5><i class="fa fa-graduation-cap fa-lg" id="materia2">Asistencias </i> <strong></strong></h5>
        </div>
        <div class="box-body">
          <div class="container-fluid">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="example" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Estudiante</th>
                            <th>fecha</th>
                            <th> Asistencia</th>


                        </tr>
                        </thead>
                        <tbody>

                        {% if listaalumno %}
                            {% for Alumno  in listaalumno  %}

                                <tr>
                                    <td>{{Alumno.apellidos}} &nbsp;{{Alumno.nombres}}</td>
                                    <td>{{ Alumno.fecha }}</td>
                                    <td>  {{ Alumno.asistencia }}</td>
                                </tr>
                            {% endfor %}
                        {% else  %}

                            <h1>No hay Alumnos </h1>

                        {% endif %}

                        </tbody>
                    </table>

    </div>
                            </div>
        </div>
        <div class="box-footer">
            <a type="button" class="btn btn-default btn-sm" href="{{ ruta }}">
                  <i class="fa fa-refresh" aria-hidden="true"></i> Actualizar
             </a>
        </div>
    </section>
{% endblock  %}