<title>Listado General de Materias</title>
{% extends 'back-end/base.html' %}

{% load static from staticfiles %}
{% block head %}


{% endblock %}

{% block content %}
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Panel</a></li>
            <li><a href="{{ ruta }}"><i class="fa fa-book"></i> Materias</a></li>
        </ol>
    </section>
    <section class="content" style="margin-top: 20px; ">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h5><i class="fa fa-book fa-lg"></i> <strong>Materias</strong></h5>
            </div>
            <div class="container box-body " style="width:80%">
                <div class="container-fluid">
                    <table style="width:100%" class="table table-striped table-bordered table-hover " id="materias">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="text-center"><em class="fa fa-cog"></em></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% if listamateria %}
                            {% for Materia in listamateria %}
                                <tr>
                                <td>{{ Materia.nombre }}</td>
                                <td><a type="button" class="btn btn-default btn-xs"
                                       href="{% url 'materias:plan' Materia.id %}"><span
                                        class="glyphicon glyphicon-eye-open" data-toggle="tooltip"
                                        title="Ver Plan de clases de {{ Materia.nombre }}"> </span></a>
                                    <a type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                       title="Editar datos"
                                       href="{% url 'materias:editar' Materia.id %}"><span
                                            class="glyphicon glyphicon-pencil"> </span></a>
                                </td>
                            {% endfor %}
                        {% else %}
                            <h1>No hay Materias </h1>
                        {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a type="button" class="btn btn-primary btn-sm" href="{% url 'Materias:nuevo' %}">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> Nueva Materia
            </a>
            <a type="button" class="btn btn-default btn-sm" href="{{ ruta }}">
                <i class="fa fa-refresh" aria-hidden="true"></i> Actualizar
            </a>
        </div>
    </section>
    <style>
        table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
            color: black;
        }

        .table tbody tr td {
            font-size: 16px;
        }

        .form-inline .form-control {
            width: 100%;
        }

        th.dt-center, td.dt-center {
            text-align: center;
        }

    </style>
    <script>
        $(document).ready(function () {
            $('#materias').DataTable({
                destroy: true,
                responsive: true,
                columnDefs: [
                    {"className": "dt-center", "width": "20%", "targets": [-1]},
                ]

            });
        });
    </script>

{% endblock %}