<title>Listado de Aulas</title>
{% extends 'back-end/base.html' %}

{% load static from staticfiles %}
{% block head %}


{% endblock %}

{% block content %}
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Panel</a></li>
            <li><a href="{{ ruta }}"><i class="fa fa-sort-alpha-desc"></i>Aulas</a></li>
        </ol>
    </section>
    <section class="content" style="margin-top: 20px; ">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h5><i class="fa fa-sort-alpha-desc fa-lg"></i> <strong>Aulas</strong></h5>
            </div>
            <div class="container box-body" style="width:50%">
                <div class="container-fluid">
                    <table style="width:100%" class="table table-striped table-bordered table-hover " id="aulas">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Numero</th>
                            <th class="text-center"><em class="fa fa-cog"></em></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% if lista %}
                            {% for Aula in lista %}
                                <tr>
                                <td>{{ Aula.id }}</td>
                                <td>{{ Aula.numero }}</td>
                                <td><a type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                       title="Editar datos"
                                       href="{% url 'aula:editar' Aula.id %}"><span
                                        class="glyphicon glyphicon-pencil"> </span></a>
                                    <a type="button" class="btn btn-danger btn-xs borrar" data-toggle="tooltip"
                                       title="Eliminar Aula"><span
                                            class="glyphicon glyphicon-trash"> </span></a>
                                </td>
                            {% endfor %}
                        {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a type="button" class="btn btn-primary btn-sm" href="{% url 'Aulas:nuevo' %}">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> Nueva Aula
            </a>
            <a type="button" class="btn btn-default btn-sm" href="{{ ruta }}">
                <i class="fa fa-refresh" aria-hidden="true"></i> Actualizar
            </a>
        </div>
    </section>
    <style>
        table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
            color: black;
        }

        .table tbody tr td {
            font-size: 16px;
        }

        .form-inline .form-control {
            width: 100%;
        }

        th.dt-center, td.dt-center {
            text-align: center;
        }

    </style>
    <script>
        var table;
        $(document).ready(function () {
            tabla();
            $(".borrar").on("click", eliminar);
        });

        function tabla() {
            table = $('#aulas').DataTable({
                destroy: true,
                responsive: true,
                columnDefs: [
                    {"className": "dt-center", "width": "20%", "targets": [-1]},
                ]

            });
        }

        function eliminar() {
            $('.tooltip').remove();
            var data = table.row($(this).parents('tr')).data();
            bootbox.dialog({
                title: "<i class='fa fa-info' aria-hidden='true'></i> Confirmaci\u00f3n",
                message: 'Desea eliminar esta aula?',
                buttons: {
                    default: {
                        label: "<i class='fa fa-times'></i>",
                        className: "btn btn-danger btn-sm btn-flat",
                        callback: function () {
                        }
                    },
                    success: {
                        label: "<i class='fa fa-check'></i>",
                        className: "btn btn-primary btn-sm btn-flat",
                        callback: function () {
                            $.ajax({
                                dataType: 'JSON',
                                type: 'POST',
                                url: "{% url 'aula:eliminar' %}",
                                data: {
                                    id: data[0]
                                },
                                success: function (data) {
                                    if (data.resp) {
                                        $.isLoading({
                                            text: "<strong>" + 'Eliminando Registro..' + "</strong>",
                                            tpl: '<span class="isloading-wrapper %wrapper%"><i class="fa fa-spin fa-spinner fa-2x fa-spin"></i><br>%text%</span>',
                                        });
                                        setTimeout(function () {
                                            location.reload();
                                        }, 1000);
                                        return false;
                                    }
                                    alert(data.error);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown + ' ' + textStatus);
                                }
                            });
                        }
                    }
                }
            });
        }
    </script>

{% endblock %}